<footer class="footer">
    <mat-grid-list cols="10">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile colspan="8">
            <div class="content">
                <h1><mat-icon mat-card-avatar>spa</mat-icon>&nbsp;Santé</h1>
                <p>
                    Ceci est une application ayant pour but de présenter des données publiques de santé.
                    <br>© Le développement et l'hébergement est réalisé par <a class="link" href="https://liant.dev">Liant SASU</a>. Le code est disponible sous license GPL v3 sur <a class="link" href="https://gitlab.com/liant-sasu/sante">Gitlab</a>.
                    <br>© Les données viennent de <a class="link" href="https://www.data.gouv.fr">data.gouv.fr</a>.
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</footer>
