/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use '@angular/material' as mat;

@use "./styles/components";

@include mat.core();

// Define a theme (This is a copy of purple-green prebuilt theme
$primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$accent:  mat.define-palette(mat.$green-palette, A200, A100, A400);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include components.theme(
  $theme,
  map.get($theme, typography)
);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-app-background {
  a {
    color: map.get($primary, 200);
  }
}